container_commands:
  01_download_cert:
    command: |
      cd /tmp
      wget https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem
      
  02_import_to_java:
    command: |
      $JAVA_HOME/bin/keytool -import -trustcacerts -alias awsdocdb \
        -file /tmp/global-bundle.pem \
        -keystore $JAVA_HOME/lib/security/cacerts \
        -storepass changeit -noprompt
    ignoreErrors: true
